@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #3b4d61;
  background-color: #f2e9dc;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: #f2e9dc;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #26495c;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: #f2e9dc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #db4130;
  font-weight: bold;
}

.hero {
  background-image: url(/img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #f2e9dc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2,
.content h3 {
  font-size: 130%;
  margin: 20px 0;
}
.layout {
  height: 80vh;
}
.coderows {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  height: 50vh;
}
.box1,
.box2,
.box3 {
  display: flex;
  flex-direction: column;
  background-color: #e5e5dc;
  margin: 2.2675736961451247vh;
  border-bottom: solid #db4130;
  color: #26495c;
  padding: 2.2675736961451247vh;
  border-radius: 3%;
  height: 400px;
}

.headingzi {
  text-align: center;
}
.ikone {
  width: 90px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Contact part */
.contactinfo {
  margin-top: 30vh;
  position: relative;
}
.bigcontact {
  height: 100vh;
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 49% 49%;
}
.left {
  position: relative;
  grid-area: left;
  margin: 10px;
  padding: 15px;
  background-color: #e5e5dc;
  color: #26495c;
  border-radius: 3%;
  border-bottom: 2px solid #db4130;
  height: 70vh;
  margin-bottom: 10vh;
}
.context {
  font-size: 15px;
}
.right {
  grid-area: right;
  color: #222;
  margin: 10px;
  border-radius: 3%;
  border-bottom: 2px solid #db4130;
  background-image: url(/img/right4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  height: 70vh;
  color: #f2e9dc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
  opacity: 1;
}

button:hover {
  cursor: pointer;
}
button {
  background: transparent;
  outline: none;
  position: relative;
  border: 2px solid #fff;
  padding: 15px 50px;
  overflow: hidden;
  color: white;
}

/*button:before (attr data-hover)*/

.elbuton {
  color: white;
}
/* Footer style  */
.row {
  display: grid;
  grid-template-areas: "about categories qlinks";
  grid-template-columns: 50% 25% 25%;
  margin: 30px;
  padding: 10px;
}
.about {
  grid-area: about;
}
.categories {
  grid-area: categories;
}
.qlinks {
  grid-area: qlinks;
}
.qlinks {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.site-footer {
  background-color: #e5e5dc;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #26495c;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #26495c;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #f2e9dc;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
@media (max-width: 991px) {
  .logo {
    font-size: x-small;
    text-align: left;
  }
  .nav a {
    font-size: x-small;
  }
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
  .layout {
    height: 120vh;
  }
  .coderows {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
  }
  .bigcontact {
    margin-top: 20vh;
    height: 130vh;
    display: flex;
    flex-wrap: wrap;
  }
  .rightimg {
    height: 50vh;
    width: 58vh;
  }
  .context {
    line-height: 1fvh;
  }
  .text-justify,
  .footer-links {
    font-size: x-small;
  }
  .site-footer {
    margin-top: 40vh;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.about1 {
  height: 40vh;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}
.redovi {
  display: flex;
  flex-direction: row;
  height: 50vh;
  margin-bottom: 20vh;
}
.red {
  display: flex;
  flex-direction: column;
  background-color: #e5e5dc;
  margin: 2.2675736961451247vh;
  border-bottom: solid #db4130;
  color: #26495c;
  padding: 2.2675736961451247vh;
  border-radius: 3%;
  height: 400px;
  width: 100%;
}
@media (max-width: 991px) {
  .redovi {
    display: flex;
    flex-direction: column;
    margin-bottom: 20vh;
  }
}
